html{
    scroll-behavior: smooth;
}
body{
    /*font-family: 'Montserrat';*/
    /*font-family: "Times New Roman", Times, serif;*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*font-family: Georgia, serif;*/
    /*font-family: "Times New Roman", Times, serif;*/
    /*font-family: "Arial Black", Gadget, sans-serif;*/
    /*font-family: "Comic Sans MS", cursive, sans-serif;*/
    /*font-family: Impact, Charcoal, sans-serif;*/
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    /*font-family: Tahoma, Geneva, sans-serif;*/
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    /*font-family: Verdana, Geneva, sans-serif;*/
    /*font-family: "Courier New", Courier, monospace;*/
    /*font-family: "Lucida Console", Monaco, monospace;*/
    /*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
    margin: 0;
    background: #1b1e21;
    color: white;
}

.no-margin{
    margin: 0;
}
.title-1{
    font-size: 8vw;
}
.title-2{
    font-size: 6vw;
}
.title-3{

}
.title-4{
    font-size: 30px !important;
}
.title-5{

}
.padding-left-15{
    padding-left: 15px !important; ;
}
.article-header{
    margin-bottom: 0;
}
.article-header h4{
}
.container{
    padding: 2% 5%;
}
/*colors*/
.blue{
    background: #000080;
}
.gold{
    background: #FFD700;
}
.blue-text{
    color:#000080;
}
.gold-text{
    color:#FFD700;
}
.srose-text{
    color:#f51c53;
}
.sblue-text{
    color: #4fbdb5;
}
.srose{
    background: #f51c53;
}
.sblue{
    background: #4fbdb5;
}
.no-margin{
    margin: 0 !important;
}
.no-padding{
    padding: 0 !important;
}

h1,h2,h3,h4,h5{
    text-transform: uppercase;
}
h3{
    font-size: 36px;
}
h5{
    font-size: 20px;
}
h3::before{
    content: '';
    width: 20px;
    height: 3px;
    background: white;
    display: block;
    margin-bottom: 10px;
}
h4::after{
    content: '';
    width: 20px;
    height: 3px;
    background: white;
    display: block;
    margin-top: 5px;
}
/**/
.container .row img{
    width: 100%;
    height: auto;
}
.align-left{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}
.align-right{
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}
.align-center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}
.slide-show{
    position: relative;
    top: 10vh;
}
/*slide show code*/
.slides{
    width: 100%;
    position: relative;
    height: 80vh;
    min-height: 600px;
    padding: 150px 0;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    box-sizing: border-box;
    /*animation-name: fade-in;*/
    /*animation-delay: 0s;*/
    /*animation-duration: 2s;*/
}
.slides:after{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -99;
    height: 100%;
    width: 100%;
    background: url("../../images/dot_back.png") left top repeat
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.slide-content{
    display: table;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    color: #ffffff;
}
.image-container {
    width: 100%;
    position: relative;
    height: 100vh;
    min-height: 600px;
    padding: 150px 0;
    background-position: center center !important;
    background-size: cover !important;
    box-sizing: border-box;
    background: url(../../images/Untitled-1-Recovered.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat !important;
}
.image-container:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background:                         /* v-- Change to adjust the distance between circles */
            radial-gradient(farthest-side,black 80%,transparent 82%)
            0 0/
    4px 4px; /* Change to adjust the size */

    -webkit-mask:linear-gradient(to right,#fff,transparent);
    mask:linear-gradient(to right,#fff,transparent);
}
.image-circle-container{
    width: 100%;
    position: relative;
    height: 50vh;
    /*min-height: 600px;*/
    padding: 150px 0;
    background-position: center center !important;
    background-size: cover !important;
    box-sizing: border-box;
    /*background: url(https://cdn.getyourguide.com/img/location_img-59-1969619245-148.jpg) no-repeat;*/
    background-size: cover;
    background-repeat: no-repeat !important;
}
.image-circle-container:before{
    content:"";
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background:                         /* v-- Change to adjust the distance between circles */
            radial-gradient(farthest-side,black 80%,transparent 82%)
            0 0/
    4px 4px; /* Change to adjust the size */

    -webkit-mask:linear-gradient(to right,#fff,transparent);
    mask:linear-gradient(to right,#fff,transparent)
}


/*.slide-content div h2{*/
/*    border-style: none;*/
/*}*/


/*top navigation code*/
.topnav {
    background-color: #333;
    overflow: hidden;
    padding-left: 10px;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    z-index:999;
    list-style: none;
    width: 100%;
    background-color: rgba(0,0,0,1) ;
    /*margin-top: 20px;*/
}
.topnav .top-container  img{
    height: 100px;
    width: auto;
}
.header-logo img{
    height: 50px;
}
.active{
    color: #f51c53 !important;
}

.topnav .top-container button{
    display: none;
}
.top-container{
    font-size: 18px;
}
.topnav ul{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin-top: 16px;
}
.topnav ul li{
    list-style: none;
    padding-right: 40px;
}
/*.topnav ul li ul{*/
/*    display: none;*/
/*    padding: 0 5px;*/
/*    background-color: rgba(0, 0, 0, 0.2);*/
/*}*/
.topnav ul li a:link,.topnav ul li a:visited{
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.topnav ul li a:hover,.topnav ul li a:active{
    color: #f51c53;
    border-bottom: 3px solid #000080;
    padding-bottom: 7px;
}
.sublist ul{
    display: none;
    padding: 10px 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.sublist a i{
    font-size: 12px;
}
.sublist ul li{
    padding-bottom: 7px;
    padding-top: 5px;
}
.sublist ul li:first-child{
    padding-top: 20px;
}
.sublist:hover ul{
    display:block;
}
/*.topnav ul li:hover ul{*/
/*    display: block;*/
/*    position: fixed;*/
/*}*/
.active-sub{
    display: block;
    position: fixed;
}
.parallelogram {
    width: 100%;
    height: 200px;
    transform: skew(0,2deg);
    /*background: red;*/
    overflow: hidden;
    top: -15px;
    background-attachment: fixed;
}
.parallelogram:nth-child(2){
    top: -2px;
    position: relative;
}
.parallelogram:nth-child(3){
    top: -3px;
    position: relative;
}
.parallelogram:nth-child(4){
    top: -4px;
    position: relative;
}
.parallelogram img{
    width: 100%;
    z-index: -1;

}
.parallelogram p, .parallelogram h3{
    transform: skew(0, -2deg);
    padding: 0 20px;
}
.parallelogram.circle-content , .parallelogram img{
    position: absolute;
    top: 0;
    left: 0;
}

.home-container{

}
.circle-society{
    position: absolute;
    top:60%;
    transform: translateY(-50%);
}
.home-container strong{
    font-size: 95px;
    color: #FFD700;
    font-weight: 900;
}
.home-container h1{
    font-size: 90px;
    margin: 0 20px;
    z-index: 99999;
}
.body-content .content-card{
    padding: 10px 40px;
    margin-bottom: 20px;
}
.card{
    transition: background-color 2s;
    transform: skew(0,-2deg);
    padding: 15px 40px;
}
.card h5,.card h4,.card h3,.card p{
    transform: skew(0,2deg);
}
/*.card:hover{*/
/*    !*animation-name: hover-card;*!*/
/*    !*animation-duration: 2s;*!*/
/*    background: rgba(255, 215, 0, 0.6);*/
/*}*/

.card div div img{
    width: 100%;
}
.card h5{
    padding: 25px 10px;
    margin: 0;
}
@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-100px) skew(0,2deg);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) skew(0,2deg);
    }
}

/*Footer css*/
.footer {
    /*z-index: -1;*/
    /*height: 100px;*/
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.footer img{
    width: 50%;
}
.footer-bottom{
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}
.footer_box_body iframe{
    width: 100%;
}
.footer-social{
    list-style: none;
    padding: 0;
    margin: 0;
    /*text-align: center;*/
}
.footer-social li{
    display: inline-block;
    margin: 5px;
}
.footer-social li a{
    border: solid 1px #f51c53;
    display: block;
    border-radius: 50px;
    padding: 7px 0;
    font-size: 24px;
    color: #f51c53;
    width: 40px;
    height: 40px;
    text-align: center;
}
.footer-social li a:hover{
    border: solid 1px #ff253a;
    color: #ff253a;
}
/*Parallax Effect Here*/
.parallax {
    /* The image used */

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-icon{
    list-style: none;
    padding-left: 40px;
    margin: 0;
    font-size: 40px;
}
.footer-icon li{
    display: inline-block;
    margin: 5px;
}
.footer-icon li a{
    border-radius: 50px;
    border: 1px solid #007bff;
    height: 40px;
    width: 40px;
    font-size: 24px;
    display: block;
}
form input{
    height: 30px;
    width: 90%;
    margin-bottom: 10px;
    border-style: none;
}
form button{
    height: 30px;
    width: 90%;
    border-radius: 10px;
    background: #f51c53;
    text-transform: uppercase;
    color: white;
}
form button:hover{
    background: #ff253a;
}
form input, form button{
    outline: none;
    border-style: none;
}
#con-btn{
    width: 100px;
}
#cnt-card{
    padding-left: 20px;
}
.page-header{
    margin-top: 10vh;
    height: 300px;
    position: relative;
}
.round-bottom{
    border-radius: 0 0 50px 50px;
    -webkit-box-shadow: inset -4px -5px 2px -1px rgba(27,30,33,0.86);
    box-shadow: inset -4px -5px 2px -1px rgba(27,30,33,0.86);
}
.page-header-container{
    position: absolute;
    bottom: 0;
    left: 25px;
}
/* For desktop: */
@media only screen and (max-width: 2100px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


/*For Mobile*/
@media only screen and (max-width: 768px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .top-menu{
        padding-left: 0;
    }
    .top-menu li{
        padding-top: 10px;
    }
    .top-menu li li{
        display: block;
    }
    .sublist ul li {
        padding-bottom: 0;
        padding-top: 7px;
    }
    .sublist ul li:first-child {
        padding-top: 0;
    }
    .topnav{
        background: #18181c;
        margin-top: 0;
    }
    .topnav ul{
        display: none;
        width: 100%;
        margin: 0;
        padding: 5px;
    }
    .topnav .top-container button{
        float: left;
        display: revert;
        background: transparent;
        box-shadow: 0 0 0 !important;
        cursor: pointer;
        border-radius: 2px;
        border: 1px solid #ffffff;
        color: #ffffff;
        padding: 5px 10px;
        font-size: 22px;
        outline: 0 !important;
    }
    .topnav .top-container img{
        float: right;
        padding: 0;
        height: 55px;
    }
    .top-container{
        padding-top: 15px;
    }
    .topnav button{
        flex-direction: row;
        vertical-align: middle;
    }
    .home-container h1 {
        font-size: 70px;
    }
    .sublist:hover ul{
        padding-left: 5px;
        position: relative;
        background-color: #18181c;
    }
    /*.topnav ul li a:hover,.topnav ul li a:active{*/
    /*    color: red;*/
    /*}*/
}
@media only screen and (max-width: 470px) {
    .home-container h1:first-child {
        font-size: 40px;
    }
    .home-container h1 {
        font-size: 45px;
    }
    h3{
        font-size: 25px;
    }
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.row{
    width: 100%;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
* {
    box-sizing: border-box;
}
.center
{
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Non-Essential  */

.property-card
{
    height:18em;
    width:14em;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    position:relative;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius:16px;
    overflow:hidden;
    -webkit-box-shadow: 1px 2px 15px 5px #000000;
    box-shadow: 1px 2px 15px 5px #000000;
    /*-webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;*/
    /*box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;*/
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
    height:6em;
    width:14em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    /*background-image:url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');*/
    background-size:cover;
    background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
    color: white;
    background-color: #1b1e21;
    height:12em;
    width:14em;
    position:absolute;
    bottom:0em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align:center;
}

/* Social Icons */

.property-social-icons
{
    width:1em;
    height:1em;
    background-color:black;
    position:absolute;
    bottom:1em;
    left:1em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
    height:0em;
    padding:0px 1em;
}
.property-card:hover .property-image
{
    height:18em;
}

.property-card:hover .property-social-icons
{
    background-color:white;
}

.property-card:hover .property-social-icons:hover
{
    background-color:blue;
    cursor:pointer;
}
table {
    width: 750px;
    border-collapse: collapse;
    margin:50px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #424242;
}

th {
    background: #f51c53;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 10px;
    border: 1px solid #383838;
    text-align: left;
    font-size: 18px;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table {
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    /*td:before {*/
    /*    !* Now like a table header *!*/
    /*    position: absolute;*/
    /*    !* Top/left values mimic padding *!*/
    /*    top: 6px;*/
    /*    left: 6px;*/
    /*    width: 45%;*/
    /*    padding-right: 10px;*/
    /*    white-space: nowrap;*/
    /*    !* Label the data *!*/
    /*    content: attr(data-column);*/

    /*    color: #000;*/
    /*    font-weight: bold;*/
    /*}*/
}
.landascape h4{
    margin: 0;
    padding: 0;
}
.landascape img{
    width: 100%;
}
[alt="www.000webhost.com"]{
    display: none;
}
form label{
    width: 200px;
}
#sport_form input{
    height: 50px;
    /*padding: 5px 5px;*/
}
#sport_form{
    margin: 10px 10px;
}
#sport_form textarea{
    height: 180px;
    /*padding: 5px 5px;*/
}
#sport_form div{
    padding: 5px 5px;
}
#sport_form input[type="submit"]{
    width: 200px;
    float: right;
    right: 50px;
    position: relative;
}
.landascape a{
    color: white;
}
#sport_form input[type="radio"]{
    height: auto;
    width: auto;
}
.btn , input[type='submit']{
    background: #007bff;
    padding: 5px;
    border-radius: 4px;
    margin: 2px;
    text-decoration: none;
    color: white;
}
textarea{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.gold{
    background: #FFD700;
    color: black;
}